@model IEnumerable<ModalidadPago>

@{
    ViewData["Title"] = "Modalidad de Pago";
}

<h1>Modalidades de Pago</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Nueva Modalidad</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NumeroCuotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCuotas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @(item.Estado ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
